@use "sass:map";

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@each $key, $value in $theme-screens {
  @media (min-width: $value) {
    .container {
      max-width: $value;
    }
  }
}

