.enterSlideForward {
  transform: translateX(-50%);
  opacity: 0;
}
.enterSlideBackward {
  transform: translateX(50%);
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.exitSlideForward {
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
.exitSlideBackward {
  opacity: 0;
  transform: translateX(50%);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
