@use "sass:map";
@import '../../styles/variables';

.deleteBtn {
  background-color: map.get($theme-colors, "red-500");
  transition: background-color 200ms ease-in-out;
  color: map.get($theme-colors, "white");
  margin-right: 1rem;
  &:hover {
    background-color: map.get($theme-colors, "red-700");
    &::after {
      background-color: transparent;
    }
  }
}
